<!DOCTYPE html>
<html>
<head>
  <title>Shorty</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<div class="login">
  <div class="login-screen">
    <div class="login-icon">
      <img src="http://designmodo.github.io/Flat-UI/images/icons/svg/clocks.svg" alt="Get Shorty">
        <h4>Save Time. <small></small></h4>
      </div>




  <%= yield %>
  
</body>
</html>
